* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.list-column {
  list-style: none;
}
.list-column li {
  margin-bottom: 10px;
}
.list-column li a {
  text-decoration: none;
}

/* main della pagina */
#main-page {
  display: flex;
  width: 100%;
  height: calc(100vh - 90px);
  background-color: lightblue
}
/* parte della pagina con la navbar */
#main-nav {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: #000000;
  padding-left: 20px;
  overflow-y: hidden;
}

#nav-logo {
  display: flex;
  align-items: center;
  min-height: 90px;
}
#nav-logo img {
  max-width: 100%;
  height: 40px;
}
#nav-logo i {
  font-size: 30px;
  color: white;
}
#nav-logo img:hover {
  height: 41px;
  cursor: pointer;
}

#nav-menu {
  width: 100%;
  padding-bottom: 10px;
}

#nav-menu .list-column {
  position: relative;
}

#nav-menu .list-column a {
  color: #747474;
}
#nav-menu .list-column i {
  color: #747474;
}

#nav-menu .list-column a:hover {
  color: white;
}

#nav-menu .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  display: inline-block;
  width: 2px;
  height: 19px;
  background: lightgreen;
}

#nav-playlist {
  width: 100%;
  padding-bottom: 20px;
  /* height: calc(100% - 90px); */
}

#nav-playlist h4 {
  color: #FBFBFB;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.btn::before {
  content: "+";
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  font-size: 30px;
  color: #000000;
  background-color: #747474;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
}
#nav-playlist .btn {
  text-decoration: none;
  color: #747474;
  line-height: 30px;
}

#nav-playlist a:hover {
  color: white;
}
#nav-playlist a:hover::before{
  background-color: white;
}

#nav-column-playlists {
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 90px);
}

#nav-column-playlists .list-column a {
  color: #747474;
  font-size: 14px;
}

#nav-column-playlists .list-column a:hover {
  color: white;
}

#nav-bottom {
  width: 100%;
  height: 90px;
  color: #747474;
}

#nav-bottom a,
#nav-bottom i {
  text-decoration: none;
  color: #747474;
  font-size: 14px;
}

#nav-bottom a:hover {
  color: white;
}

#nav-bottom .fa-arrow-alt-circle-down {
  font-size: 12px;
}

#account-owner {
  padding: 10px 0;
  margin-top: 10px;
  margin-right: 20px;
  border-top: 1px solid #747474;
}
#account-owner i {
  font-size: 18px;
}
/* parte della pagina con la navbar */
/* parte più grande e centrale della pagina */
#main-content {
  width: calc(100% - 250px);
  padding-top: 90px;
  background-color: #141922;
  overflow-y: auto;
}

#cta {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 250px);
  height: 90px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.2);
  /* overflow-y: hidden; */
}
.upgrade-btn {
  line-height: 90px;
	background-color: transparent;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  padding:10px 40px;
	border-radius: 20px;
	border: 1px solid #A6A7A9;
  margin-right: 20px;
  cursor: pointer;
	text-decoration: none;
}
.upgrade-btn:hover {
  padding: 14px 50px;
  font-size: 14px;
}
/* sezione navbar della parte centrale della pagina */
#navbar-main-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 30px;
}
#navbar-main-content div {
  margin-right: 10px;
  margin-top: 20px;
}
#navbar-main-content div a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #747474;
}

#navbar-main-content div a:hover {
  color: white;
}

#navbar-main-content div:first-child {
  position: relative;
}

#navbar-main-content .active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 25px;
  display: inline-block;
  width: 40px;
  height: 2px;
  background: lightgreen;
}
/* /sezione navbar della parte centrale della pagina */
/* sezione recently played */
#recently-played {
  padding: 0 20px;
}

#recently-played h2 {
  color: white;
  margin-bottom: 20px;
  padding-left: 10px;
}

.cover-list {
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.cover {
  width: calc(100% / 6);
  padding: 20px 10px;
  text-align: center;
}

/* .cover-image:hover {
  background: rgba(0, 0, 0, 0.1);
} */

.cover-image img {
  max-width: 100%;
}

.cover h4 {
  margin-top: 20px;
}
.cover h5 {
  color: #747474;
}
/* /sezione recently played */
/* sezione creato per john doe */
#created-for {
  padding: 30px 20px 0;
}

#created-for h2 {
  color: white;
  padding-bottom: 10px;
  padding-left: 10px;
}
#created-for p {
  color: #747474;
  margin-bottom: 20px;
  padding-left: 10px;
}
/* /sezione creato per john doe */
/* sezione artisti popolari */
#popular-artists {
  padding: 30px 20px 0;
}

#popular-artists h2 {
  color: white;
  padding-bottom: 10px;
  padding-left: 10px;
}
#popular-artists p {
  color: #747474;
  margin-bottom: 20px;
  padding-left: 10px;
}

.cover-round img {
  border-radius: 50%;
}
/* /sezione artisti popolari */
/* /parte più grande e centrale della pagina */
/* /main della pagina */
/* footer della pagina */
#footer-page {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  background-color: #282828;
}
/* parte song-data */
#song-data {
  display: flex;
  align-items: center;
  width: 250px;
}

#cover-song-data {
  width: 30%;
  padding: 15px;
}

#titles-song-data {
  width: 50%;
}

#titles-song-data a {
  text-decoration: none;
}

#cover-song-data img {
  max-width: 100%;
}

#titles-song-data h5 a {
  color: white;
}
#titles-song-data h5 a:hover {
  color: white;
}
#titles-song-data h6 a {
  color: #747474;
}
#titles-song-data h6 a:hover {
  color: white;
}

#icons-song-data {
  color: #747474;
}
#icons-song-data .fa-folder {
  padding-left: 10px;
}
#icons-song-data i:hover {
  color: white;
  cursor: pointer;
}
/* /parte song-data */
/* parte player-controller */
#player-controller {
  width: 40%;
}

#player-controller-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  color: #FEFEFE;
}
#player-controller-top .fa-play-circle {
  font-size: 30px;
  padding: 0 30px;
}
#player-controller-top .fa-step-backward {
  padding-left: 15px;
}
#player-controller-top .fa-step-forward {
  padding-right: 15px;
}
#player-controller-top .fa-random:hover,
#player-controller-top .fa-step-backward:hover,
#player-controller-top .fa-step-forward:hover,
#player-controller-top .fa-redo:hover {
  font-size: 20px;
  cursor: pointer;
}
#player-controller-top .fa-play-circle:hover {
  font-size: 40px;
  cursor: pointer;
}

#player-controller-bottom {
  display: flex;
  justify-content: center;
  position: relative;
  height: 40%;
  padding-top: 5px;
}

#progress-bar {
  width: 80%;
  height: 4px;
  background: #747474;
  border-radius: 5px;
}

#progress-bar::before {
  content:"0.25";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  font-size: 10px;
  color: #FEFEFE;
  text-align: center;
}
#progress-bar::after {
  content:"2.35";
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  font-size: 10px;
  color: #FEFEFE;
  text-align: center;
}
#progress-bar-state {
  position: relative;
  width: 10%;
  height: 100%;
  background: #FEFEFE;
  border-radius: 5px;
}
#progress-bar-state:hover {
  background: lightgreen;
  cursor: pointer;
}

.point-status {
  position: absolute;
  top: -100%;
  right: -5%;
  width: 12px;
  height: 12px;
  background: lightgrey;
  border-radius: 50%;
  display: none;
}
#progress-bar-state:hover .point-status {
  display: block;
  cursor: pointer;
}
/* /parte player-controller */
/* parte player-audio */
#player-audio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  font-size: 12px;
  color: #FEFEFE;
}

#volume-bar {
  width: 60%;
  height: 4px;
  background: #747474;
  margin-right: 15px;
  border-radius: 5px;
}
#volume-bar-state {
  position: relative;
  width: 20%;
  height: 100%;
  background: #FEFEFE;
  border-radius: 5px;
}
#volume-bar-state:hover {
  background: lightgreen;
  cursor: pointer;
}
#volume-bar-state:hover .point-status {
  display: block;
  cursor: pointer;
}
/* /parte player-audio */
/* /footer della pagina */
/* parte media query della pagina */
@media screen and (min-width: 768px) {
  #nav-logo i {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .cover {
    width: calc(100% / 4);
  }
}

@media screen and (max-width: 991px) {
  .cover {
    width: calc(100% / 2);
  }

  #navbar-main-content {
    padding-left: 40px;
    padding-right: 40px;
  }

  #song-data {
    width: 200px;
  }

  #icons-song-data .fa-folder,
  #icons-song-data .fa-heart {
    padding-left: 5px;
  }

  #player-audio {
    width: 200px;
  }
}

@media screen and (max-width: 767px) {
  #main-nav {
    position: relative;
    width: 50px;
    padding-left: 0;
    overflow: hidden;
  }
  #nav-logo {
    width: 100%;
    justify-content: center;
  }
  #nav-logo img {
    display: none;
  }

  #nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #nav-menu a {
    display: none;
  }

  #nav-playlist,
  #nav-column-playlists {
    display: none;
  }

  #nav-bottom {
    position: absolute;
    bottom: 0;
    height: auto;
  }

  #nav-bottom .list-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #nav-bottom a {
    display: none;
  }

  #account-owner {
    margin: 0;
    padding-top: 0;
    border-top: 0;
  }

  #main-content {
    width: calc(100% - 50px);
  }

  #cta {
    width: calc(100% - 50px);
  }
/* parte del footer */
  #song-data {
    width: 110px;
  }

  #cover-song-data {
    padding: 0;
    margin: 0 0 0 5px;
  }

  #titles-song-data h5 a {
    font-size: 10px;
    padding-left: 5px;
  }
  #titles-song-data h6 a {
    font-size: 8px;
    padding-left: 5px;
  }

  #icons-song-data .fa-folder,
  #icons-song-data .fa-heart {
    padding-left: 5px;
  }

  #icons-song-data i {
    font-size: 10px;
  }

  #player-controller {
    width: 30%;
  }
  #player-controller-top {
    max-width: 100%;
  }

  #player-controller-top .fa-play-circle {
    font-size: 20px;
    padding: 0 10px;
  }
  #player-controller-top .fa-step-backward,
  #player-controller-top .fa-step-forward,
  #player-controller-top .fa-random,
  #player-controller-top .fa-redo {
    font-size: 10px;
  }

  #progress-bar {
    width: 60%;
  }

  #progress-bar::before {
    font-size: 8px;
    padding-top: 1px;
  }
  #progress-bar::after {
    font-size: 8px;
    padding-top: 1px;
  }

  #player-audio {
    width: 100px;
  }

  #player-audio .fas {
    font-size: 5px;
  }

  #volume-bar {
    margin-right: 5px;
  }

  .point-status {
    width: 8px;
    height: 8px;
    top:-50%;
  }
}
/* /parte media query della pagina */
