* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.list-column {
  list-style: none;
}
.list-column li {
  margin-bottom: 10px;
}
.list-column li a {
  text-decoration: none;
}
/* main della pagina */
#main-page {
  display: flex;
  width: 100%;
  height: calc(100vh - 90px);
  background-color: lightblue
}
/* parte della pagina con la navbar */
#main-nav {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: #000000;
  padding-left: 20px;
  overflow-y: hidden;
}

#nav-logo {
  display: flex;
  align-items: center;
  min-height: 90px;
}
#nav-logo img {
  max-width: 100%;
  height: 40px;
}
#nav-logo i {
  font-size: 30px;
  color: white;
}

#nav-menu {
  width: 100%;
  padding-bottom: 10px;
}

#nav-menu .list-column a {
  color: #747474;
}

#nav-playlist {
  width: 100%;
  padding-bottom: 20px;
  /* height: calc(100% - 90px); */
}

#nav-playlist h4 {
  color: #FBFBFB;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.btn::before {
  content: "+";
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  font-size: 30px;
  color: #000000;
  background-color: #747474;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
}
#nav-playlist .btn {
  text-decoration: none;
  color: #747474;
  line-height: 30px;
}

#nav-column-playlists {
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 90px);
}

#nav-column-playlists .list-column a {
  color: #747474;
  font-size: 14px;
}

#nav-bottom {
  width: 100%;
  height: 90px;
  color: #747474;
}

#nav-bottom a {
  text-decoration: none;
  color: #747474;
  font-size: 14px;
}

#nav-bottom .fa-arrow-alt-circle-down {
  font-size: 12px;
}

#account-owner {
  padding: 10px 0;
  margin-top: 10px;
  margin-right: 20px;
  border-top: 1px solid #747474;
}
#account-owner i {
  font-size: 18px;
}
/* parte della pagina con la navbar */
/* parte più grande e centrale della pagina */
#main-content {
  width: calc(100% - 250px);
  padding-top: 90px;
  background-color: #141922;
  overflow-y: auto;
}
#cta {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  width: calc(100% - 250px);
  height: 90px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: hidden;
}
.upgrade-btn {
	background-color: transparent;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  padding:10px 40px;
	border-radius: 20px;
	border: 1px solid #A6A7A9;
  margin-right: 20px;
  cursor: pointer;
	text-decoration: none;
}
/* sezione navbar della parte centrale della pagina */
#navbar-main-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 30px;
}
#navbar-main-content div {
  margin-right: 10px;
  margin-top: 20px;
}
#navbar-main-content div a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #747474;
}
/* /sezione navbar della parte centrale della pagina */
/* sezione recently played */
#recently-played {
  padding: 0 20px;
}

#recently-played h2 {
  color: white;
  margin-bottom: 20px;
  padding-left: 10px;
}

.cover-list {
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.cover {
  width: calc(100% / 6);
  padding: 20px 10px;
  text-align: center;
}

.cover-image img {
  max-width: 100%;
  margin-bottom: 10px;
}

.cover h5 {
  color: #747474;
}
/* /sezione recently played */
/* sezione creato per john doe */
#created-for {
  padding: 30px 20px 0;
}

#created-for h2 {
  color: white;
  padding-bottom: 10px;
  padding-left: 10px;
}
#created-for p {
  color: #747474;
  margin-bottom: 20px;
  padding-left: 10px;
}
/* /sezione creato per john doe */
/* sezione artisti popolari */
#popular-artists {
  padding: 30px 20px 0;
}

#popular-artists h2 {
  color: white;
  padding-bottom: 10px;
  padding-left: 10px;
}
#popular-artists p {
  color: #747474;
  margin-bottom: 20px;
  padding-left: 10px;
}

.cover-round img {
  border-radius: 50%;
}
/* /sezione artisti popolari */
/* /parte più grande e centrale della pagina */
/* /main della pagina */
/* footer della pagina */
#footer-page {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  background-color: #282828;
}

#song-data {
  display: flex;
  align-items: center;
  width: 250px;
}

#cover-song-data {
  width: 30%;
  padding: 15px;
}

#titles-song-data {
  width: 50%;
}

#cover-song-data img {
  max-width: 100%;
}

#titles-song-data h5 {
  color: white;
}
#titles-song-data h6 {
  color: #747474;
}

#icons-song-data {
  color: #747474;
}

#player-controller {
  width: 40%;
  background-color: lightgreen;
}
#player-controller-top {
  height: 60%;
  background: lightblue;
}
#player-controller-bottom {
  height: 40%;
  background: orange;
}

#player-audio {
  width: 250px;
  background-color: lightgreen;
}

/* /footer della pagina */
@media screen and (min-width: 768px) {
  #nav-logo i {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .cover {
    width: calc(100% / 4);
  }
}

@media screen and (max-width: 991px) {
  .cover {
    width: calc(100% / 2);
  }

  #navbar-main-content {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  #main-nav {
    width: 50px;
  }
  #nav-logo {
    width: 100%;
    justify-content: center;
    padding-left: 0;
  }
  #nav-logo img {
    display: none;
  }

  #main-content {
    width: calc(100% - 50px);
  }

  #cta {
    width: calc(100% - 50px);
  }
}
